{{ block "analysisResult" . }}
<h3>Analysis Result</h3>
<table>
    <thead>
	<tr>
	    <th>Forces and stresses</th>
	    <th>TENSION</th>
	    <th></th>
	    <th>COMPRESSION</th>
	    <th></th>
	    <th>MOMENT down</th>
	    <th></th>
	    <th>MOMENT up</th>
	</tr>
    </thead>
    <tbody>
        <tr>
            <th>Element and stresses</th>
            <th>Force</th>
            <th>ft</th>
            <th>Force</th>
            <th>fc</th>
            <th>Mu</th>
            <th>fb</th>
            <th>Mu</th>
            <th>fb</th>
        </tr>
	<tr>
	    <td>Bottom Chord (max)</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ip) mid-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ip) point-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ep1) mid-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ep1) point-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ep2) mid-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
	<tr>
	    <td>Top Chord (Ep2) point-Panel</td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	</tr>
    </tbody>
</table>
{{ end }}
