{{ block "angleProp" . }}
{{ $AnglProp := index .ResMater.AnglProps 0 }}

<table>
    <thead>
	<tr>
	    <th>Secction 2L</th>
	    <th>
		<p>{{ $AnglProp.SecTop }}</p>
	    </th>
	</tr>
    </thead>
    <tbody>
	<tr>
	    <td>Area Top Chord</td>
	    <td>
		<p>{{ $AnglProp.AreaTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>rx Top Chord</td>
	    <td>
		<p>{{ $AnglProp.RxTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>rz Top Chord</td>
	    <td>
		<p>{{ $AnglProp.RxTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>ry Top Chord</td>
	    <td>
		<p>{{ $AnglProp.RyTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Y Top Chord</td>
	    <td>
		<p>{{ $AnglProp.YTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Ix Top Chord</td>
	    <td>
		<p>{{ $AnglProp.IxTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Iy Top Chord</td>
	    <td>
		<p>{{ $AnglProp.IyTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>b Top Chord</td>
	    <td>
		<p>{{ $AnglProp.BTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>t Top Chord</td>
	    <td>
		<p>{{ $AnglProp.TTop }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Q Top Chord</td>
	    <td>
		<p>{{ $AnglProp.QTop }}</p>
	    </td>
	</tr>
    </tbody>
</table>
<table>
    <thead>
	<tr>
	    <th>Secction 2L</th>
	    <th>
		<p>{{ $AnglProp.SecBot }}</p>
	    </th>
	</tr>
    </thead>
    <tbody>
	<tr>
	    <td>Area Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.AreaBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>rx Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.RxBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>rz Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.RzBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>ry Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.RyBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Y Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.YBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Ix Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.IxBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Iy Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.IyBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>b Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.BBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>t Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.TBot }}</p>
	    </td>
	</tr>
	<tr>
	    <td>Q Bottom Chord</td>
	    <td>
		<p>{{ $AnglProp.QBot }}</p>
	    </td>
	</tr>
    </tbody>
</table>
{{ end }}
