{{ block "design" . }}
{{ $Design := index .TableDesign.Designs 0 }}
<h2>Design Stress</h2>
<table>
    <thead>
        <tr>
            <th>Element Chord</th>
            <th>Ft</th>
            <th>Put</th>
            <th>b/t</th>
            <th>Q</th>
            <th>F'e_tc</th>
            <th>F'ex</th>
            <th>Fcr</th>
            <th>Fc</th>
            <th>Puc</th>
            <th>cm</th>
            <th>Fb</th>
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th>Bottom Chord (max)</th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.BCPut }}</td>
	    <td>{{ $Design.BCbt }}</td>
	    <td>{{ $Design.BCQ }}</td>
	    <td>{{ $Design.BCFetc }}</td>
	    <td>{{ $Design.BCFex }}</td>
	    <td>{{ $Design.BCFcr }}</td>
	    <td>{{ $Design.BCFc }}</td>
	    <td>{{ $Design.BCPuc }}</td>
	    <td>{{ $Design.BCcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ip) mid-panel</th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCIpMidFetc }}</td>
	    <td>{{ $Design.TCIpMidFex }}</td>
	    <td>{{ $Design.TCIpMidFcr }}</td>
	    <td>{{ $Design.TCIpMidFc }}</td>
	    <td>{{ $Design.TCIpMidPuc }}</td>
	    <td>{{ $Design.TCIpMidcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ip) point-panel</th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCIpMidFetc }}</td>
	    <td>{{ $Design.TCIpMidFex }}</td>
	    <td>{{ $Design.TCIpMidFcr }}</td>
	    <td>{{ $Design.TCIpMidFc }}</td>
	    <td>{{ $Design.TCIpMidPuc }}</td>
	    <td>{{ $Design.TCIpMidcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep1) mid-panel </th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCEp1MidFetc }}</td>
	    <td>{{ $Design.TCEp1MidFex }}</td>
	    <td>{{ $Design.TCEp1MidFcr }}</td>
	    <td>{{ $Design.TCEp1MidFc }}</td>
	    <td>{{ $Design.TCEp1MidPuc }}</td>
	    <td>{{ $Design.TCEp1Midcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep1) point-panel</th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCEp1MidFetc }}</td>
	    <td>{{ $Design.TCEp1MidFex }}</td>
	    <td>{{ $Design.TCEp1MidFcr }}</td>
	    <td>{{ $Design.TCEp1MidFc }}</td>
	    <td>{{ $Design.TCEp1MidPuc }}</td>
	    <td>{{ $Design.TCEp1Midcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep2) mid-panel </th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCEp2MidFetc }}</td>
	    <td>{{ $Design.TCEp2MidFex }}</td>
	    <td>{{ $Design.TCEp2MidFcr }}</td>
	    <td>{{ $Design.TCEp2MidFc }}</td>
	    <td>{{ $Design.TCEp2MidPuc }}</td>
	    <td>{{ $Design.TCEp2Midcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep2) point-panel</th>
	    <td>{{ $Design.BCFt }}</td>
	    <td>{{ $Design.TCIpMidPut }}</td>
	    <td>{{ $Design.TCIpMidbt }}</td>
	    <td>{{ $Design.TCIpMidQ }}</td>
	    <td>{{ $Design.TCEp2MidFetc }}</td>
	    <td>{{ $Design.TCEp2MidFex }}</td>
	    <td>{{ $Design.TCEp2MidFcr }}</td>
	    <td>{{ $Design.TCEp2MidFc }}</td>
	    <td>{{ $Design.TCEp2MidPuc }}</td>
	    <td>{{ $Design.TCEp2Midcm }}</td>
	    <td>{{ $Design.BCFb }}</td>
	</tr>
    </tbody>
</table>
{{ end }}
