{{ block "Home" . }}
<div>
<html>
    <head>
	<meta charset="UTF-8">
	<meta name="viewprt" content="width=device-width, initial-scale-1">
	<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	<link href="/styles" rel="stylesheet">
	<title>joist</title>
    </head>
    <body>
	<header class="segment">
	    <h1>
	    {{ template "form" .Data }}
	    </h1>
	</header> 
	<div class="geometry">
	    <form hx-post="/geometry"  hx-target="#tabla">
		<label>
		    Truss Type:
		    <select name="trussType">
			<option value="warren">warren</option>
			<option value="warrenModified">warren modified</option>
		    </select>
		</label>
		<label>
		    Joist Type
		    <select name="joistType">
			<option value="roof">roof</option>
			<option value="mezzanine">mezzanine</option>
		    </select>
		</label>
		<label>
		    Deflexion
		    <select name="deflexion">
			<option value="240">240</option>
			<option value="360">360</option>
		    </select>
		</label>
		<label>Span:
		    <input name="span" type="number" step=".001">
		</label>
		<label>
		    First End Panel Length:
		    <input name="fepl" type="number" step=".001">
		</label>
		<label>
		    Second End Panel Length:
		    <input name="sepl" type="number" step=".001">
		</label>
		<label>
		    Interior Panel Length:
		    <input name="ipl" type="number" step=".001">
		</label>
		<label>
		    From End Panel to Bottom Chord:
		    <input name="lbe" type="number" step=".001">
		</label>
		<label>
		    Joist depth:
		    <input name="depth" type="number" step=".001">
		</label>
		<button type="submit"> submit </button>
	    </form>

	    <div id="tabla">
	    {{ template "geometryResponse" .ResGeom }}
	    </div>
	</div>	
	<h2>Material and Section</h2>
	<form action="">
	    <label>
		Yield Stress (Fy):
		<input type="number">
	    </label>
	    <label>
		Modulus of Elasticity (E):
		<input type="number">
	    </label>
	    <label>
		Sapcing between chord angles:
		<input type="number">
	    </label>
	    <label>
		weight:
		<input placeholder="lb/ft" type="number">
		<input placeholder="kg/ml" type="number">
	    </label>
	    <label>
		B. Seat D:
		<input type="number">
	    </label>
	    <label>
		Top Chord Mark
		<input type="number">
	    </label>
	    <label>
		Bottom Chord Mark
		<input type="number">
	    </label>

	    <h3>Please fill Mid-panel info</h3>
	    <label>
		Top Chord (max)
		<select name="topChord">
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </label>
	    <label>
		Bottom Chord (max)
		<select name="bottomChord">
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </label>
	    <label>
		Top Chord End Panel 1
		<select name="topChordEP1">
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </label>
	    <label>
		Top Chord End Panel 2
		<select name="topChordEP2">
		    <option value="yes">yes</option>
		    <option value="no">no</option>
		</select>
	    </label>
	</form>
	<h2>Design Loads</h2>
	<form>
	    <label>
		Ultimate design load Wu:
		<input name="udlw" type="number">
	    </label>
	    <label>
		Live Load WLL (service load):
		<input name="llWLL" type="number">
	    </label>
	    <label>
		Net suction LRFD:
		<input name="nsLRFD" type="number">
	    </label>
	    <label>
		Net suction ASD:
		<input name="nsASD" type="number">
	    </label>
	</form>

	<script>
	    document.addEventListener("DOMContentLoaded", (event) => {
		document.body.addEventListener("htmx:beforeSwap", function(evt) {
		    if(evt.detail.xhr.status === 422) {
			// allow 422 responses to swap as we are using this as a signal that
			// a form was submitted with bad data and want to rerender with the
			// errors
			//
			// set isError to false to avoid error logging in console
			evt.detail.shouldSwap = true;
			evt.detail.isError = false;
		    }
		})
	    })

	    function IPCalculation(){
		let spanInput = document.getElementById("spanInput").value*1
		let Linput = document.getElementById("L")
		L = spanInput*12-4
		Linput.value = L

		let Lep1 = document.getElementById("Lep1").value*1
		let Lep2 = document.getElementById("Lep2").value*1
		let Lip = document.getElementById("Lip").value*1

		let IP = document.getElementById("IPInput")
		let V = document.getElementById("VInput")

		let restL = L - (Lep1 + Lep2) * 2
		IPValue = restL / Lip
		IP.value = IPValue 
		V.value = IPValue / 2
		console.log(IP.value)
	    }
	    function calculate(){
		if(isNaN(document.forms["myform"]["qty"].value) || document.forms["myform"]["qty"].value==""){
		    var text1 = 0;
		}else{
		    var text1 = parseInt(document.forms["myform"]["qty"].value);
		}

		if(isNaN(document.forms["myform"]["Cost"].value) || document.forms["myform"]["Cost"].value==""){
		    var text2 = 0;
		}else{
		    var text2 = parseFloat(document.forms["myform"]["Cost"].value);
		}
		document.forms["myform"]["textbox5"].value = (text1*text2);
	    }

	    function lbe2Calculation(){
		// Lbe2 = Lep1+Lep2+Lip-Lbe
		let Lbe2Input = document.getElementById("Lbe2")
		let Lep1Input = document.getElementById("Lep1")
		let Lep2Input = document.getElementById("Lep2")
		let LipInput = document.getElementById("Lip")
		let LbeInput = document.getElementById("Lbe")

		let Lbe2 = Lep1Input.value*1 + Lep2Input.value*1 + LipInput.value*1 - LbeInput.value*1;
		Lbe2 = Lbe2*1;
		Lbe2Input.value = Lbe2.toFixed(2)
		IPCalculation()
	    }

	    function Lcalculation(){
		// L = span-4inches
		let spanInput = document.getElementById("spanInput")
		let a = spanInput.value

		let Linput = document.getElementById("L")
		L = spanInput.value*1*12-4
		Linput.value = L

		IPCalculation()
	    }
	</script>
    </body>
    <html>
{{ end }}

{{ block "form" . }}
    {{ range .Contacts }}
    	{{ template "contact" . }}
    {{ end }}
{{ end }}

{{ block "contact" . }}
	{{ .Name }}
	{{ .Email }}
{{ end }}

{{ block "geometryResponse" . }}
    {{ $ResProp := index .ResProps 0 }}
    <p></p>
		<table>
		    <tbody>
			<tr>
			    <td>bottom chord to bottom panel</td>
			    <td>{{ $ResProp.Lbe2 }}</td>
			</tr>
			<tr>
			    <td>Design length</td>
			    <td>{{ $ResProp.DLength }}</td>
			</tr>
			<tr>
			    <td>Total interior Panels</td>
			    <td>{{ $ResProp.Tip }}</td>
			</tr>
			<tr>
			    <td>Total Diagonals</td>
			    <td>{{ $ResProp.Tod }}</td>
			</tr>
			<tr>
			    <td>Total struts</td>
			    <td>{{ $ResProp.Ts }}</td>
			</tr>
			<tr>
			    <td>Effective Depth</td>
			    <td>{{ $ResProp.Ed }}</td>
			</tr>
		    </tbody>
		</table>
    <hr>
{{ end }}
