{{ block "Home" . }}
<label class="input--form__chords6">
    </div>
	<meta charset="UTF-8">
	<meta name="viewprt" content="width=device-width, initial-scale-1">
	<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	<link href="/styles" rel="stylesheet">
	<title>joist</title>
    </head>
    <body>
	<header class="segment">
	    <h1>
	    {{ template "form" .Data }}
	    </h1>
	</header> 
	<div class="input">
	    <form class="input--form">
		<div class="input--form__geometry">

		    <div class="input--form__geometry0">
			<h3>Geometry</h3>
		    </div>

		    <label class="input--form__geometry1">
			<p>Truss Type</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry2">
			<p>Joist Type</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry3">
			<p>Deflexion</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry4">
			<p>Span</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry5">
			<p>Joist depth</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry6">
			<p>First End Panel Length</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry7">
			<p>Second End Panel Length</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry8">
			<p>Interior Panel Length</p>
			<input type="">
		    </label>
		    <label class="input--form__geometry9">
			<p>End Panel to B.Chord</p>
			<input type="">
		    </label>
		</div>
		<div class="input--form__stress">
		    <div class="input--form__stress0">
			<h3>Stress</h3>
		    </div>
		    <label class="input--form__stress1">
			<p>Yield Stress</p>
			<input type="">
		    </label>
		    <label class="input--form__stress2">
			<p>weight:</p>
			<input type="">
		    </label>
		    <label class="input--form__stress3">
			<p>B. Seat D:</p>
			<input type="">
		    </label>
		    <label class="input--form__stress4">
			<p>Modulus of Elasticuty (E)</p>
			<input type="">
		    </label>
		    <label class="input--form__stress5">
			<p>Spacing between chord angles</p>
			<input input="">
		    </label>
		</div>
		<div class="input--form__loads">

		    <div class="input--form__loads0">
			<h3>Loads</h3>
		    </div>

		    <label class="input--form__loads1">
			<p>Ultimate design load Wu</p>
			<input type="">
		    </label>
		    <label class="input--form__loads2">
			<p>Live Load Wll (service load)</p>
			<input type="">
		    </label>
		    <label class="input--form__loads3">
			<p>Net suction LRFD</p>
			<input type="">
		    </label>
		    <label class="input--form__loads4">
			<p>Net suction ASD</p>
			<input type="">
		    </label>
		</div>
		<div class="input--form__chords">
		    <div class="input--form__chords0">
			<h3>Chords</h3>
		    </div>

		    <label class="input--form__chords1">
			<p>Top Chord Mark</p>
			<input type="">
		    </label>
		    <label class="input--form__chords2">
			<p>Mid-Panel Top fill Chord (max)</p>
			<input type="">
		    </label>
		    <label class="input--form__chords3">
			<p>Mid-Panel fill Chord End Panel 1</p>
			<input type="">
		    </label>
		    <label class="input--form__chords4">
			<p>Mid-Panel fill Chord End Panel 2</p>
			<input type="">
		    </label>
		    <label class="input--form__chords5">
			<p>Bottom Chord Mark</p>
			<input type="">
		    </label>
		    <label class="input--form__chords6">
			<p>fill Bottom Chord (max)</p>
			<input type="">
		    </label>
		</div>
		<div class="input--form__submit">
		    <button>submit</button>
		</div>
	    </form>
	</div>
	<div class="geometry">
	    <form hx-post="/geometry"  hx-target="#tabla1">
		<div>
		    <label>
			Truss Type:
			<select name="trussType">
			    <option value="warren">warren</option>
			    <option value="warrenModified">warren modified</option>
			</select>
		    </label>
		    <label>
			Joist Type
			<select name="joistType">
			    <option value="roof">roof</option>
			    <option value="mezzanine">mezzanine</option>
			</select>
		    </label>
		    <label>
			Deflexion
			<select name="deflexion">
			    <option value="240">240</option>
			    <option value="360">360</option>
			</select>
		    </label>
		</div>
		<div>
		    <label>Span:
			<input placeholder="49.21" name="span" type="number" step=".001">
		    </label>
		    <label>
			First End Panel Length:
			<input placeholder="27.28" name="fepl" type="number" step=".001">
		    </label>
		    <label>
			Second End Panel Length:
			<input placeholder="26" name="sepl" type="number" step=".001">
		    </label>
		</div>
		<div>
		    <label>
			Interior Panel Length:
			<input placeholder="24" name="ipl" type="number" step=".001">
		    </label>
		    <label>
			From End Panel to Bottom Chord:
			<input placeholder="41.1"name="lbe" type="number" step=".001">
		    </label>
		    <label>
			Joist depth:
			<input placeholder="28" name="depth" type="number" step=".001">
		    </label>
		</div>
		<button type="submit"> submit </button>
	    </form>

	</div>	
	<form>
	    <h2>Design Loads</h2>
	    <label>
		Ultimate design load Wu:
		<input name="udlw" type="number">
	    </label>
	    <label>
		Live Load WLL (service load):
		<input name="llWLL" type="number">
	    </label>
	    <label>
		Net suction LRFD:
		<input name="nsLRFD" type="number">
	    </label>
	    <label>
		Net suction ASD:
		<input name="nsASD" type="number">
	    </label>
	</form>
	<h2>Material and Section</h2>

	<div class="material">
	    <form hx-post="/material"  hx-target="#tabla2">
		<!--first row-->
		<div>
		    <label>
			<p>Yield Stress (Fy):</p>
			<input name="yieldStress" type="number" step=".001" >
		    </label>
		    <label>
			<p>Modulus of Elasticity (E):</p>
			<input name="modElas" type="number" step=".001">
		    </label>
		    <label>
			<p>Spacing between chord angles:</p>
			<input type="number" name="spaceChord" step=".001">
		    </label>
		</div>
		<!--second row-->
		<div>
		    <label>
			weight:
			<input placeholder="lb/ft" type="number" name="weight" step=".001">
		    </label>
		    <label>
			B. Seat D:
			<input name="bSeat" type="number" step=".001">
		    </label>
		</div>
		<!--third row-->
		<div>
		    <label>
			Top Chord Mark
			<input type="number" name="topChord">
		    </label>
		    <label>
			Bottom Chord Mark
			<input type="number" name="bottomChord">
		    </label>
		</div>
		<button type="submit"> submit </button>
	    </form>
	    <form>
		<!-- <h3>Please fill Mid-panel info</h3> -->
		<div>
		    <label>
			<p>Mid-Panel fill Top Chord (max)</p>
			<select name="topChord">
			    <option value="yes">yes</option>
			    <option value="no">no</option>
			</select>
		    </label>
		    <label>
			<p>Mid-Panel fill Bottom Chord (max)</p>
			
			<select name="bottomChord">
			    <option value="yes">yes</option>
			    <option value="no">no</option>
			</select>
		    </label>
		</div>
		<div>
		    <label>
			<p>Mid-Panel fill Top Chord End Panel 1</p>
			
			<select name="topChordEP1">
			    <option value="yes">yes</option>
			    <option value="no">no</option>
			</select>
		    </label>
		    <label>
			<p>Mid-Panel fill Top Chord End Panel 2</p>
			
			<select name="topChordEP2">
			    <option value="yes">yes</option>
			    <option value="no">no</option>
			</select>
		    </label>
		</div>
		<button type="submit"> submit </button>
	    </form>
	    <div id="tabla1">
	    {{ template "geometryResponse" .ResGeom }}
	    </div>
	    <div class="materialTable" id="tabla2">
		{{ template "materialResponse" . }}
	    </div>
	</div>
	<script>
	    document.addEventListener("DOMContentLoaded", (event) => {
		document.body.addEventListener("htmx:beforeSwap", function(evt) {
		    if(evt.detail.xhr.status === 422) {
			// allow 422 responses to swap as we are using this as a signal that
			// a form was submitted with bad data and want to rerender with the
			// errors
			//
			// set isError to false to avoid error logging in console
			evt.detail.shouldSwap = true;
			evt.detail.isError = false;
		    }
		})
	    })
	</script>
    </body>
    <html>
{{ end }}

{{ block "form" . }}
    {{ range .Contacts }}
    	{{ template "contact" . }}
    {{ end }}
{{ end }}

{{ block "contact" . }}
	{{ .Name }}
	{{ .Email }}
{{ end }}

{{ block "geometryResponse" . }}
    {{ $ResProp := index .ResProps 0 }}
		<table>
		    <tbody>
			<tr>
			    <td>bottom chord to bottom panel</td>
			    <td>{{ $ResProp.Lbe2 }}</td>
			</tr>
			<tr>
			    <td>Design length</td>
			    <td>{{ $ResProp.DLength }}</td>
			</tr>
			<tr>
			    <td>Total interior Panels</td>
			    <td>{{ $ResProp.Tip }}</td>
			</tr>
			<tr>
			    <td>Total Diagonals</td>
			    <td>{{ $ResProp.Tod }}</td>
			</tr>
			<tr>
			    <td>Total struts</td>
			    <td>{{ $ResProp.Ts }}</td>
			</tr>
			<tr>
			    <td>Effective Depth</td>
			    <td>{{ $ResProp.Ed }}</td>
			</tr>
		    </tbody>
		</table>
		<hr>
		<p>The span of a joist shall not exceed 24 time the depth</p>
		<p>Span/Depth Ratio = {{ $ResProp.Dmin }} less than depth joist =  </p>
{{ end }}
{{ block "materialResponse" . }}
    {{ $AnglProp := index .ResMater.AnglProps 0 }}
	    <div class="materialTableDiv">
		<table>
		    <thead>
			<tr>
			    <th>Secction 2L</th>
			    <th>
				<p>{{ $AnglProp.SecTop }}</p>
			    </th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>Area Top Chord</td>
			    <td>
				<p>{{ $AnglProp.AreaTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>rx Top Chord</td>
			    <td>
				<p>{{ $AnglProp.RxTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>rz Top Chord</td>
			    <td>
				<p>{{ $AnglProp.RxTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>ry Top Chord</td>
			    <td>
				<p>{{ $AnglProp.RyTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Y Top Chord</td>
			    <td>
				<p>{{ $AnglProp.YTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Ix Top Chord</td>
			    <td>
				<p>{{ $AnglProp.IxTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Iy Top Chord</td>
			    <td>
				<p>{{ $AnglProp.IyTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>b Top Chord</td>
			    <td>
				<p>{{ $AnglProp.BTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>t Top Chord</td>
			    <td>
				<p>{{ $AnglProp.TTop }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Q Top Chord</td>
			    <td>
				<p>{{ $AnglProp.QTop }}</p>
			    </td>
			</tr>
		    </tbody>
		</table>
		<table>
		    <thead>
			<tr>
			    <th>Secction 2L</th>
			    <th>
				<p>{{ $AnglProp.SecBot }}</p>
			    </th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>Area Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.AreaBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>rx Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.RxBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>rz Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.RzBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>ry Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.RyBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Y Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.YBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Ix Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.IxBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Iy Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.IyBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>b Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.BBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>t Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.TBot }}</p>
			    </td>
			</tr>
			<tr>
			    <td>Q Bottom Chord</td>
			    <td>
				<p>{{ $AnglProp.QBot }}</p>
			    </td>
			</tr>
		    </tbody>
		</table>

		<!-- <div class="brid">
		    <p>maximum spacing of bridging</p>
		    <p>Line bridging 1</p>
		    <p>Line bridging 2</p>
		</div> -->
	    </div>
	    <div>
		{{ template "webMem" .}}
	    </div>
{{ end }}

{{ block "webMem" .}}
    <form hx-post="/member" hx-swap="outerHTML">
	<table>
	    <thead>
	        <tr>
	            <th>Element</th>
	            <th>Parts</th>
	            <th>Mark</th>
	            <th>Secction</th>
	            <th>Crimped</th>
	            <th>mid-panell fill</th>
	        </tr>
	    </thead>
	    {{ range .WebMember.MemberInputs }}
		{{ template "InputMembers" . }}
	    {{ end }}
	</table>
    <button type="submit">submit</button>
    </form>
{{ end }}

{{ block "InputMembers" .}}
	    <tr>
	        <td>
		    <p>{{ .ElemName }}</p>
		</td>
		<td>
		    <input value="1" type="number" name="part{{ .InputName }}">
		</td>
		<td>
		    <input value="{{ .Mark }}"type="number" name="mark{{ .InputName }}">
		</td>
		<td>
		    <p>{{ .Secction }}</p>
		</td>
		<td>
		    <select id="" name="crimped{{ .InputName }}">
		        <option value="yes">yes</option>
		        <option value="no">no</option>
		    </select>
		</td>
		<td>
		    <select id="" name="crimped{{ .InputName }}">
		        <option value="yes">yes</option>
		        <option value="no">no</option>
		    </select>
		</td>
	    </tr>
{{ end }}
