{{ block "Moments" . }}
{{ $Momento := index .TableMoment.Moments 0 }}
<table>
    <tr>
        <td>Ijoist</td>
	<td>FORMULA</td>
	<td>{{ $Momento.Ijoist }}</td>
    </tr>
    <tr>
        <td>Ireq</td>
        <td>FORMULA</td>
	<td>{{ $Momento.Ireq360 }}</td>
    </tr>
    <tr>
        <td>Ireq</td>
        <td>FORMULA</td>
	<td>{{ $Momento.Ireq240 }}</td>
    </tr>
    <tr>
	<td>{{ $Momento.Ireq240 }}</td>
	<td> < </td>
        <td>{{ $Momento.Ijoist }}</td>
	<td>{{ $Momento.Check }}</td>
    </tr>
</table>

{{ end }}
