{{ block "relations" . }}
{{ $CapSol := index .TableCap.CapSols 0 }}
<h2>Check of relation capabilites vs solicitations</h2>
<table>
    <thead>
        <tr>
            <th>Element Chord</th>
	    <th>Put</th>
	    <th>Pu sol</th>
	    <th>ratio</th>
	    <th>allowab</th>
	    <th>Fau</th>
	    <th>Fbu</th>
	    <th>Fau/Fc</th>
	    <th>ratio</th>
	    <th>allowab</th>
	</tr>
    </thead>
    <tbody>
	<tr>
	    <th>Bottom Chord (max)</th>
	    <td>{{$CapSol.BCPut}}</td>
	    <td>{{$CapSol.BCPusol}}</td>
	    <td>{{$CapSol.BCTenRat}}</td>
	    <td>{{$CapSol.BCTenAllow}}</td>
	    <td>{{$CapSol.BCFau}}</td>
	    <td>{{$CapSol.BCFbu}}</td>
	    <td>{{$CapSol.BCFauFc}}</td>
	    <td>{{$CapSol.BCAxRatio}}</td>
	    <td>{{$CapSol.BCAxAllow}}</td>
	    <td>{{$CapSol.BCcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ip) mid-panel</th>
	    <td>{{$CapSol.TCIpMidPut}}</td>
	    <td>{{$CapSol.TCIpMidPusol}}</td>
	    <td>{{$CapSol.TCIpMidTenRat}}</td>
	    <td>{{$CapSol.TCIpMidTenAllow}}</td>
	    <td>{{$CapSol.TCIpMidFau}}</td>
	    <td>{{$CapSol.TCIpMidFbu}}</td>
	    <td>{{$CapSol.TCIpMidFauFc}}</td>
	    <td>{{$CapSol.TCIpMidAxRatio}}</td>
	    <td>{{$CapSol.TCIpMidAxAllow}}</td>
	    <td>{{$CapSol.TCIpMidcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ip) point-panel</th>
	    <td>{{$CapSol.TCIpPointPut}}</td>
	    <td>{{$CapSol.TCIpPointPusol}}</td>
	    <td>{{$CapSol.TCIpPointTenRat}}</td>
	    <td>{{$CapSol.TCIpPointTenAllow}}</td>
	    <td>{{$CapSol.TCIpPointFau}}</td>
	    <td>{{$CapSol.TCIpPointFbu}}</td>
	    <td>{{$CapSol.TCIpPointFauFc}}</td>
	    <td>{{$CapSol.TCIpPointAxRatio}}</td>
	    <td>{{$CapSol.TCIpPointAxAllow}}</td>
	    <td>{{$CapSol.TCIpPointcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep1) mid-panel </th>
	    <td>{{$CapSol.TCEp1MidPut}}</td>
	    <td>{{$CapSol.TCEp1MidPusol}}</td>
	    <td>{{$CapSol.TCEp1MidTenRat}}</td>
	    <td>{{$CapSol.TCEp1MidTenAllow}}</td>
	    <td>{{$CapSol.TCEp1MidFau}}</td>
	    <td>{{$CapSol.TCEp1MidFbu}}</td>
	    <td>{{$CapSol.TCEp1MidFauFc}}</td>
	    <td>{{$CapSol.TCEp1MidAxRatio}}</td>
	    <td>{{$CapSol.TCEp1MidAxAllow}}</td>
	    <td>{{$CapSol.TCEp1Midcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep1) point-panel</th>
	    <td>{{$CapSol.TCEp1PointPut}}</td>
	    <td>{{$CapSol.TCEp1PointPusol}}</td>
	    <td>{{$CapSol.TCEp1PointTenRat}}</td>
	    <td>{{$CapSol.TCEp1PointTenAllow}}</td>
	    <td>{{$CapSol.TCEp1PointFau}}</td>
	    <td>{{$CapSol.TCEp1PointFbu}}</td>
	    <td>{{$CapSol.TCEp1PointFauFc}}</td>
	    <td>{{$CapSol.TCEp1PointAxRatio}}</td>
	    <td>{{$CapSol.TCEp1PointAxAllow}}</td>
	    <td>{{$CapSol.TCEp1Pointcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep2) mid-panel </th>
	    <td>{{$CapSol.TCEp2MidPut}}</td>
	    <td>{{$CapSol.TCEp2MidPusol}}</td>
	    <td>{{$CapSol.TCEp2MidTenRat}}</td>
	    <td>{{$CapSol.TCEp2MidTenAllow}}</td>
	    <td>{{$CapSol.TCEp2MidFau}}</td>
	    <td>{{$CapSol.TCEp2MidFbu}}</td>
	    <td>{{$CapSol.TCEp2MidFauFc}}</td>
	    <td>{{$CapSol.TCEp2MidAxRatio}}</td>
	    <td>{{$CapSol.TCEp2MidAxAllow}}</td>
	    <td>{{$CapSol.TCEp2Midcheck}}</td>
	</tr>
	<tr>
	    <th>T.C. (Ep2) point-panel</th>
	    <td>{{$CapSol.TCEp2PointPut}}</td>
	    <td>{{$CapSol.TCEp2PointPusol}}</td>
	    <td>{{$CapSol.TCEp2PointTenRat}}</td>
	    <td>{{$CapSol.TCEp2PointTenAllow}}</td>
	    <td>{{$CapSol.TCEp2PointFau}}</td>
	    <td>{{$CapSol.TCEp2PointFbu}}</td>
	    <td>{{$CapSol.TCEp2PointFauFc}}</td>
	    <td>{{$CapSol.TCEp2PointAxRatio}}</td>
	    <td>{{$CapSol.TCEp2PointAxAllow}}</td>
	    <td>{{$CapSol.TCEp2Pointcheck}}</td>
	</tr>
    </tbody>
</table>
{{ end }}
