{{ block "response" . }}
    {{ template "res" . }}
{{ end }}

{{ block "res" . }}

{{ $ResisTable := index .TableResistance.ResistanceFactors 0 }}
{{ template "resProp" . }}
{{ template "angleProp" . }}


<div>
    {{ template "webMem" . }}
</div>
		<!-- <div class="brid">
		    <p>maximum spacing of bridging</p>
		    <p>Line bridging 1</p>
		    <p>Line bridging 2</p>
		</div> -->
<form action="">
    <table>
        <thead>
            <tr>
                <th>Condition</th>
                <th>Factor</th>
                <th>Value</th>
                <th>D. stress</th>
            </tr>
        </thead>
	<tbody>
	    <tr>
	        <td>Tension</td>
		<td>&Phi;{{ $ResisTable.TensionFactor }} </td>
		<td>
		    <input type="number" value="{{ $ResisTable.TensionValue }}">
		</td>
		<td>{{ $ResisTable.TensionDStress }}</td>
	    </tr>
	    <tr>
	        <td>Compression</td>
		<td>&Phi;{{ $ResisTable.CompressionFactor }} </td>
		<td>
		    <input type="number" value="{{ $ResisTable.CompressionValue }}">
		</td>
		<td>{{ $ResisTable.CompressionDStress }}</td>
	    </tr>
	    <tr>
	        <td>Bending</td>
		<td>&Phi;{{ $ResisTable.BendingFactor }} </td>
		<td>
		    <input type="number" value="{{ $ResisTable.BendingValue }}">
		</td>
		<td>{{ $ResisTable.BendingDStress }}</td>
	    </tr>
	</tbody>
    </table>
</form>

{{ template "resForce" . }}
{{ template "analysisResult" . }}
{{ template "checkSlendernes" . }}
{{ template "efectiveSlendernes" . }}
{{ template "design" . }}
{{ template "relations" . }}
{{ template "shearCap" . }}

{{ end }}

{{ block "webMem" .}}
    <form hx-post="/member" hx-swap="outerHTML">
	<table>
	    <thead>
	        <tr>
	            <th>Element</th>
	            <th>Parts</th>
	            <th>Mark</th>
	            <th>Crimped</th>
	            <th>Secction</th>
	            <th>mid-panell fill</th>
	        </tr>
	    </thead>
	    {{ range .WebMember.MemberInputs }}
		{{ template "InputMembers" . }}
	    {{ end }}
	</table>
    <button type="submit">submit</button>
    </form>
{{ end }}


{{ block "InputMembers" .}}
	    <tr>
		<!-- Header is <th>Element</th> -->
	        <td>
		    <p>{{ .ElemName }}</p>
		</td>
		<!-- Header is <th>Parts</th> -->
		<td>
		    <input value="1" type="number" name="part{{ .InputName }}">
		</td>
		<!-- Header is <th>Mark</th> -->
		<td>
		    <input value="{{ .Mark }}"type="number" name="mark{{ .InputName }}">
		</td>
		<!-- Header is <th>Crimped</th> -->
		<td>
		    <select id="" name="crimped{{ .InputName }}">
		        <option value="yes">yes</option>
		        <option value="no">no</option>
		    </select>
		</td>
		<!-- Header is <th>Secction</th> -->
		<td>
		    <p>{{ .Secction }}</p>
		</td>
		<!-- Header is <th>mid-panell fill</th> -->
		<td>
		    <select id="" name="crimped{{ .InputName }}">
		        <option value="yes">yes</option>
		        <option value="no">no</option>
		    </select>
		</td>
	    </tr>
{{ end }}
