{{ block "shearCap" . }}
<h3>Check modified shear capacity</h3>
<div>
    <table>
        <tr>
            <td>Shear Force in End Panel</td>
            <td>Axial Force in chords</td>
	    <td>Modified Shear Stress</td>
	    <td>
		<span>Nominal Shear capacity: <br>
		    Fn=0.6*Fy= 
		    <br>
		    Fv=0Fn=
		</span>
	    </td>
        </tr>
    </table>
</div>

<div>
    <table>
	<thead>
	    <th>Element</th>
	    <th>fv</th>
	    <th>fa</th>
	    <th>fvmod</th>
	    <th>Fv</th>
	    <th>check</th>
	</thead>
	    <tbody>
	        <tr>
	            <td>Bottom Chord</td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	        <tr>
	            <td>Top Chord</td>
	            <td></td>
	            <td></td>
	            <td></td>
	            <td></td>
	        </tr>
	    </tbody>
    </table>
</div>

{{ end }}
